#home-page .breadcrumb {
    display: none;
}

#home-page .big-logo {
    text-align: center;
}

.navbar .btn-facebook {
    margin: 5px 8px 5px 0;
}

.navbar-default .navbar-nav > li > a.btn-facebook {
    color: #fff;
}

.navbar-default .navbar-nav > li > a.btn-facebook:hover,
.navbar-default .navbar-nav > li > a.btn-facebook:focus {
    background: #2d4373;
}

.navbar-brand {
    width: 300px;
    height: 127px;
    background: url('../img/logo.png') no-repeat;
    background-size: 300px 127px;
    text-indent: -10000em;
    margin-right: 5px;
}

h3 {
    text-transform: uppercase;
    background: url('../img/seta.jpg') no-repeat 0px;
    color: #ff1118;
    padding-left: 25px;
}

.statement {
    text-transform: uppercase;
    color: #ff1118;
}


/* Shrink navbar */

body {
    padding-top: 127px;
}
nav .navbar-brand {
    font-size: 30px;
}
nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}
nav a {
    font-size: 18px;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav.navbar.shrink {
    min-height: 30px;
}
nav.navbar.shrink .navbar-brand {
    font-size: 25px;
    background-size: 83px 35px;
    width: 83px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav.navbar.shrink a {
    font-size: 15px;
    padding-top: 10px !important;
}
nav.navbar.shrink .navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
}

/* End shrink navbar */
