beautifulsoup4==4.6.0
bleach==2.0.0
chardet==3.0.4
Django==1.10.8
django-appconf==1.0.2
django-compressor==2.1
django-contrib-comments==1.8.0
django-debug-toolbar==1.6
django-extensions==1.7.5
django-widget-tweaks==1.4.1
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.7
html5lib==0.999999999
Mezzanine==4.2.3
oauthlib==2.0.4
olefile==0.44
Pillow==4.2.1
python-twitter==3.2.1
pytz==2017.2
rcssmin==1.0.6
redis==2.10.5
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.11.0
sorl-thumbnail==12.3
sqlparse==0.2.2
tzlocal==1.4
