{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}<span class="sr-only">{% trans "Home" %}</span>{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block body_id %}home-page{% endblock %}

{% block main %}
<div class="big-logo">
<img src="{% static 'poema/img/logo.png' %}"
    alt="{{ settings.SITE_TITLE }} - {{ settings.SITE_TAGLINE }}"
    title="{{ settings.SITE_TITLE }} - {{ settings.SITE_TAGLINE }}" />
</div>

<h3>Crise pra quem?</h3>

<p>Você deve ter ouvido falar que o Brasil vive uma crise fiscal. Ou seja, que
o governo gastou mais do que arrecadou e que isto se deu somente porque a
economia vai mal.</p>

<p>Assim, os grandes jornais e canais de TV nos dizem que os cortes de gastos
com saúde, educação, cultura, etc. são necessários e, mais do que isso, são a
única alternativa para sair da crise.</p>

<p>Mas você já parou pra pensar se é mesmo essa a verdadeira causa da crise?
Você já se perguntou por que eles não falam, por exemplo, que o maior gasto do
nosso orçamento é com a dívida pública, que beneficia uma quantidade de pessoas
muito pequena e rica? Mesmo na crise, os muito ricos lucram às custas dos mais
pobres, e pra isso contam com o apoio desses grandes meios de comunicação para
nos convencer de que a solução da crise começa por cortes nos já insuficientes
investimentos sociais.</p>

<h3>Quem paga o pato?</h3>

<p>Você deve ter visto por aí um grande pato amarelo que passa a seguinte
mensagem: "NÓS, OS GRANDES EMPRESÁRIOS, SUSTENTAMOS A NAÇÃO". A verdade é que a
maior parte do dinheiro que o Estado arrecada vem da classe trabalhadora, que
paga impostos muito altos nas compras do dia a dia ou através do desconto em
folha de pagamento.</p>

<p>Assim, direitos como saúde, educação, cultura, saneamento, transporte, etc.
não são favores dos governos, pois a maioria da população paga, e muito, por
isso. Mas o dinheiro acaba não chegando ao destino, tanto pelo problema da
corrupção, que consome mais de 60 bilhões ao ano em todo Brasil, como pelo
pagamento dos juros cada vez maiores da dívida pública.</p>
{% endblock %}
