#home-page .breadcrumb {
    display: none;
}

#home-page .big-logo {
    text-align: center;
}

.navbar .btn-facebook {
    margin: 5px 8px 0 0;
}

.navbar-default .navbar-nav > li > a.btn-facebook {
    color: #fff;
}

.nav li.social-item {
    padding-top: 3px;
}

.navbar-default .navbar-nav > li > a.btn-facebook:hover,
.navbar-default .navbar-nav > li > a.btn-facebook:focus {
    background: #2d4373;
}

.navbar-brand {
    width: 236px;
    height: 100px;
    background: url('../img/logo.png') no-repeat;
    background-size: 236px 100px;
    text-indent: -10000em;
    margin-right: 5px;
}
.navbar > .container .navbar-brand {
    margin-left: 0;
}

h3 {
    text-transform: uppercase;
    background: url('../img/seta.jpg') no-repeat 0px;
    color: #ff1118;
    padding-left: 25px;
}

.statement {
    text-transform: uppercase;
    color: #ff1118;
}


/* Shrink navbar */

body {
    padding-top: 100px;
}
nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}
nav a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav.navbar.shrink {
    min-height: 30px;
}
nav.navbar.shrink .navbar-brand {
    background-size: 118px 50px;
    background-position: 0 0;
    width: 118px;
    height: 50px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav.navbar.shrink .navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
}

/* End shrink navbar */
