body {
    padding-top: 0;
}

#home-page .breadcrumb {
    display: none;
}

#top-header {
    position: relative;
    background: #F2F2F2;
    height: 130px;
}
#top-header .container {
    position: relative;
}

#top-header a.logo {
    position: absolute;
    display: block;
    width: 199px;
    height: 80px;
    background: url('../img/logo-big.png') no-repeat;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-left: -100px;
    text-indent: -10000em;
}

#top-header .social-buttons {
    position: absolute;
    right: 0;
    top: 60px;
}

.navbar {
    border: none;
}

.navbar ul.nav > li > a:hover {
    background: url('../img/nav-bottom-bg.png') repeat-x center bottom;
}

.navbar-brand {
    width: 36px;
    height: 41px;
    background: url('../img/logo-small.png') no-repeat;
    text-indent: -10000em;
    margin-top: 5px;
    margin-right: 5px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar > .container .navbar-brand {
    margin-left: -70px;
}

.navbar .social-buttons {
    margin-right: -72px;
    margin-top: 8px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-collapse {
    padding: 0;
}

h3 {
    text-transform: uppercase;
    background: url('../img/seta.jpg') no-repeat 0px;
    color: #ff1118;
    padding-left: 25px;
}

.statement {
    text-transform: uppercase;
    color: #ff1118;
}

a.btn-youtube,
a.btn-youtube:active,
a.btn-youtube:visited,
a.btn-youtube:hover {
    color: red;
}


/* Shrink navbar */

body.shrink {
    padding-top: 200px;
}

#top-header.shrink {
    display: none;
}

nav.navbar.shrink .navbar-brand {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.navbar.shrink .social-buttons {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* End shrink navbar */
