body {
    padding-top: 0;
}

#home-page .breadcrumb {
    display: none;
}

#top-header {
    position: relative;
    background: #F2F2F2;
    height: 130px;
}
#top-header .container {
    position: relative;
}

#top-header a.logo {
    position: absolute;
    display: block;
    width: 199px;
    height: 80px;
    background: url('../img/logo-big.png') no-repeat;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-left: -100px;
    text-indent: -10000em;
}

#top-header .social-buttons {
    position: absolute;
    right: 0;
    top: 60px;
    padding-right: 15px;
}

.navbar {
    border: none;
}

.navbar ul.nav > li > a:hover {
    background: url('../img/nav-bottom-bg.png') repeat-x center bottom;
}

.navbar .dropdown-menu {
    border-top: none;
    margin-top: none;
    background: url('../img/nav-bottom-bg.png') repeat-x center -2px;
    background-color: #F2F2F2;
}

.navbar-brand {
    width: 36px;
    height: 41px;
    background: url('../img/logo-small.png') no-repeat;
    text-indent: -10000em;
    margin-top: 5px;
    margin-right: 5px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar > .container .navbar-brand {
    margin-left: -70px;
}

.navbar .social-buttons {
    margin-right: -80px;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-collapse {
    padding: 0;
}

.statement {
    text-transform: uppercase;
    color: #ff1118;
}

footer {
    background: #303030;
    padding: 30px 0;
}

footer .nav-footer > ul {
    width: 15%;
    float: left;
}

footer a, footer a:visited, footer a:hover, footer a:active {
    color: #ddd;
}

footer .nav-footer > ul > li:first-child {
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: bold;
}

footer .site-info {
    border-top: solid 1px #ddd;
    margin-top: 1em;
    padding-top: 1em;
}

footer .site-info a.logo {
    float: right;
    display: block;
    width: 45px;
    height: 51px;
    background: url(../img/poema_rodape.png) no-repeat;
    text-indent: -10000em;
}


/* Shrink navbar */

body.shrink {
    padding-top: 200px;
}

#top-header.shrink {
    display: none;
}

nav.navbar.shrink .navbar-brand {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.navbar.shrink .social-buttons {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



/* Social buttons */

.social-button {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    text-indent: -10000em;
    display: block;
    margin-right: 10px;
}
.social-button.facebook {
    background: url('../img/facebook_btn.png') no-repeat;
}
.social-button.youtube {
    background: url('../img/youtube_btn.png') no-repeat;
}



/* Search */

form.search {
    position: relative;
}

.search-bar {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: #040404;
    width: 320px;
    padding: 8px;
}
.search.active .search-bar {
    display: block;
}

.fa.search-toggle {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    margin-top: 6px;
}
.search.active .fa.search-toggle {
    color: #FF0009;
}

.search-bar button.submit {
    background: #FF0009;
    color: #fff;
    font-size: 1.5em;
    padding: 2px 5px;
}



/* Content */

.poema h3, .poema h1 {
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    font-size: 32px;
    font-weight: normal;
}

h3.referenced {
    margin-bottom: 1em;
}

body.blog-post h3.category,
.blog-post-list h1 {
    color: #FF0009;
    border-bottom: solid 1px #FF0009;
    padding-bottom: 0.5em;
    font-size: 20px;
}

body.blog-post h3.category span,
.blog-post-list h1 span {
    margin-right: 0.2em;
}

.blog-post-list .news-block {
    background: #fff;
    margin: 20px 0;
}

.blog-post-list .news-block .image-box {
    padding: 0;
}

.blog-post-list .pagination {
    float: right;
}

#home-page .content-header {
    display: none;
}

#home-page .content-block {
    padding: 40px 0;
}

#home-page .news {
    width: 100%;
    min-height: 1em;
}

#home-page .news.featuring {
    margin-top: -20px;
}

#home-page .news.featuring .news-event {
    padding: 0;
    margin: 0;
}

#home-page .news.featuring .news-event a {
    display: block;
    background: #000;
    width: 380px;
    height: 409px;
}

#home-page .news.featuring .news-event a img {
    opacity: .4;
}

#home-page .news.featuring .news-event a:hover img,
#home-page .news.featuring .news-event a:active img {
    opacity: 1;
}

#home-page .news.featuring .news-event a:hover .text,
#home-page .news.featuring .news-event a:active .text {
    display: none;
}

#home-page .news.featuring .news-event .text {
    position: absolute;
    top: 213px;
    color: #fff;
}

#home-page .news.featuring .news-event h3 {
    color: #ff0008;
    font-size: 1em;
}

#home-page .news.featuring .news-event h3 span {
    background: rgba(0, 0, 0, .6);
    padding: 5px 10px;
}

#home-page .news.featuring .news-event h2,
#home-page .news.featuring .news-event .description {
    margin: 10px 20px;
}

#home-page .light {
    background: #fff;
}

#home-page .news.other {
    padding-top: 0;
}

#home-page .news.other .news-event {
    display: block;
    height: 336px;
    background: #fff;
    margin-top: 40px;
}

#home-page .news.other .news-event .text {
    position: absolute;
    top: 180px;
    color: #5d5d5d;
}

#home-page .news.other .news-event h3 {
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    color: #ff0008;
    font-size: 1em;
}

#home-page .news.other .news-event h3 span {
    background: #fff;
    padding: 5px 10px;
}

#home-page .news.other .news-event .text h2 {
    font-size: 1.2em;
    margin-top: 20px;
}

#home-page .news.other .news-event h2,
#home-page .news.other .news-event .description {
    margin: 10px 20px;
}

#home-page .about .img-block {
    background: url('../img/logo-circle.png') no-repeat center center;
    height: 320px;
}

#home-page .pillars .img-block {
    background: url('../img/bancos.png') no-repeat center center;
    height: 345px;
}

#home-page .pillars .tab-content {
    min-height: 150px;
}

#home-page p.more {
    text-align: right;
    margin: 1em 0;
}

.insivible {
    visibility: hidden;
}



/* Panels */

.right .panel {
    background: transparent;
    border: none;
}

.right .panel h3 {
    font-size: 20px;
}

.right .panel-body {
    padding: 0;
}

.panel-box {
    background: #fff;
    padding: 30px 20px;
}

.right .panel p.date {
    margin: 1em 0;
    font-size: 0.8em;
}

.right .panel hr {
    border-top: solid 1px #CECECE;
}

.right .panel .tag-cloud li {
    background: #fff;
    padding: 1em;
    margin-bottom: 4px;
}
