---

- name: Create the virtualenv
  tags: project
  shell: "{{ project.virtualenv.command }} {{ project.virtualenv.name }}"
  args:
    chdir: "{{ applications.main.path }}"
    creates: "{{ applications.main.path }}/{{ project.virtualenv.name }}"

- name: Install dependencies
  tags: project
  pip:
    requirements: "{{ project.virtualenv.requirements }}"
    chdir: "{{ applications.main.path }}"
    executable: "{{ project.virtualenv.pip }}"

- name: Transfer production settings
  tags: project
  copy:
    src: "{{ project.django_settings.src }}"
    dest: "{{ project.django_settings.dest }}"
    mode: 0600

- name: Migrate the database
  tags: project
  django_manage:
    <<: &manage_base
      app_path: "{{ applications.main.path }}"
      settings: "{{ project.django_settings.module }}"
      virtualenv: "{{ applications.main.path }}/{{ project.virtualenv.name }}"
    command: migrate

- name: Collect static files
  tags: project
  django_manage:
    <<: *manage_base
    command: collectstatic

- name: Compile localization messages
  tags: project
  shell: "{{ project.virtualenv.django_admin }} compilemessages"
  args:
    chdir: "{{ project.app.path }}"

- name: Getting the server port file
  tags: project
  shell: "cat {{ project.server.port_file }}"
  register: server_port

- name: Templating the web server configuration
  tags: project
  template:
    src: "{{ project.server.src }}"
    dest: "{{ project.server.dest }}"
    mode: 0644
  vars:
    server_port: "{{ server_port.strip() }}"

- name: Templating the supervisor configuration
  tags: project
  template:
    src: "{{ project.supervisor.src }}"
    dest: "{{ project.supervisor.dest }}"
    mode: 0644

- name: Starting supervisord
  tags: project
  shell: "{{ project.supervisor.daemon_command }}"
  args:
    creates: "{{ project.supervisor.tempdir }}/supervisord.pid"

- name: Rereading supervisord configuration
  tags: project
  shell: "{{ project.supervisor.control_command }} reread"

- name: Updating supervisord configuration
  tags: project
  shell: "{{ project.supervisor.control_command }} update"

- name: Restarting all supervisord programs
  tags: project
  shell: "{{ project.supervisor.control_command }} restart all"

- name: Adding supervisord to cron
  tags: project
  cron:
    name: supervisord
    special_time: reboot
    job: "{{ project.supervisor.daemon_command }}"
