---

- name: Create the domains
  tags: domains
  webfaction_domain:
    name: "{{ domains.name }}"
    state: present
    subdomains:
      - "{{ domains.static }}"
      - "{{ domains.uploads }}"
    login_name: "{{webfaction_user}}"
    login_password: "{{webfaction_passwd}}"
