{% extends "layout.html" %}

{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block middle_content %}
<div class="container">
<div class="row">

<div class="col-md-8 middle">
    {% block main %}{% endblock %}
</div>

<div class="col-md-4 right">
    {% nevercache %}
    {% include "includes/language_selector.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>

</div>
</div>
{% endblock %}
