{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}<span class="sr-only">{% trans "Home" %}</span>{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block body_id %}home-page{% endblock %}

{% block middle_content %}
<div class="light news featuring content-block">
    <div class="container">
        {% for post in posts|slice:':3' %}
        <div class="col-xs-4 news-event">
            <a title="{{ post.title }}" href="{{ post.get_absolute_url }}">
                {% if post.featured_image %}
                {% thumbnail post.featured_image "380x409" crop='center' as im %}
                    <img alt="{{ post.title }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                {% endthumbnail %}
                {% endif %}
                <div class="text">
                    {% if post.categories.count %}
                    <h3><span>{{ post.categories.first }}</span></h3>
                    {% else %}
                    <h3 class="insivible"><span>(Sem categoria)</span></h3>
                    {% endif %}
                    <h2>{{ post.title }}</h2>
                    <div class="description">{{ post.description|truncatewords_html:15 }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="news other content-block">
    <div class="container">
        <div class="row">
            {% for post in posts|slice:'3:' %}
            <div class="col-xs-4">
                <a class="news-event" title="{{ post.title }}" href="{{ post.get_absolute_url }}">
                {% if post.featured_image %}
                {% thumbnail post.featured_image "360x182" crop='center' as im %}
                    <img alt="{{ post.title }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                {% endthumbnail %}
                {% endif %}
                <div class="text">
                    {% if post.categories.count %}
                    <h3><span>{{ post.categories.first }}</span></h3>
                    {% else %}
                    <h3 class="insivible"><span>(Sem categoria)</span></h3>
                    {% endif %}
                    <h2>{{ post.title }}</h2>
                    <div class="description">{{ post.description|truncatewords_html:15 }}</div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="light about content-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 img-block"></div>
            <div class="col-xs-6">
            <h3 class="referenced">A POEMA</h3>
                {% if not about %}
                <p>Aguarde...</p>
                {% else %}
                <p>{{ about.description|truncatewords_html:30 }}</p>
                <a href="{{ about.get_absolute_url }}" title="{{ about.title }}">
                    <p class="more">// ver mais</p>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="content-block pillars">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 img-block"></div>
            <div class="col-xs-6">
                <h3 class="referenced">Nossos eixos</h3>
                <div class="tab-content">
                    {% for page in pillars %}
                    <div role="tabpanel" class="tab-pane fade {% if forloop.first %}in active{% endif %}"
                        id="tab-content-{{ page.title|slugify }}">
                        <h4>{{ page.title }}</h4>
                        {{ page.description|truncatewords_html:30 }}
                        <p class="more"><a href="{{ page.get_absolute_url }}">// ver mais</a></p>
                    </div>
                    {% endfor %}
                </div>
                <nav aria-label="Navegação dos eixos">
                    <ul class="pagination">
                        {% for page in pillars %}
                            <li class="{% if forloop.first %}active{% endif %}">
                                <a href="#tab-content-{{ page.title|slugify }}" title="{{ page.title }}"
                                    data-toggle="tab"
                                    role="tab"
                                    aria-controls="tab-content-{{ page.title|slugify }}">{{ forloop.counter }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}
