{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}<span class="sr-only">{% trans "Home" %}</span>{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block body_id %}home-page{% endblock %}

{% block middle_content %}
<div class="light news featuring">
    <div class="container">
        {% for post in posts|slice:':3' %}
        <div class="col-xs-4 news-event">
            <a title="{{ post.title }}" href="{{ post.get_absolute_url }}">
                {% if post.featured_image %}
                {% thumbnail post.featured_image "380x409" crop='center' as im %}
                    <img alt="{{ post.title }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                {% endthumbnail %}
                {% endif %}
                <div class="text">
                {% if post.categories.count %}
                <h3><span>{{ post.categories.first }}</span></h3>
                {% else %}
                <h3 class="insivible"><span>(Sem categoria)</span></h3>
                {% endif %}
                <h2>{{ post.title }}</h2>
                <div class="description">{{ post.description|truncatewords_html:15 }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="news other">
    <div class="container">
        <div class="row">
            {% for post in posts|slice:'3:' %}
            <div class="col-xs-4">
                <div class="news-event">
                {% if post.featured_image %}
                {% thumbnail post.featured_image "360x182" crop='center' as im %}
                    <img alt="{{ post.title }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                {% endthumbnail %}
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
