import multiprocessing

bind = "127.0.0.1:{{ server_port }}"
pidfile = '{{ project.server.pid_file }}'
accesslog = '{{ project.server.log_file }}'
accesslog = '{{ project.server.error_file }}'
pythonpath = '{{ applications.main.path }}'

workers = multiprocessing.cpu_count() * 2 + 1
max_requests = 100
max_requests_jitter = 10
proc_name = 'poema-gunicorn'
daemon = True
