---

server:
  home: /home/rafael2001
  tempdir: /tmp/rafael2001
  python_version: 3.6

ssh:
  files:
    public_key: ~/.ssh/poema.pub
    private_key: ~/.ssh/poema

domains:
  name: rafael2001.webfactional.com
  main: poema
  static: poemastatic
  uploads: poemauploads

applications:
  main:
    name: poema
    path: "/home/rafael2001/webapps/poema"
  static:
    name: poemastatic
    path: "/home/rafael2001/webapps/poema/static"
    htaccess_src: "{{ playbook_dir }}/htaccess.template"
    htaccess_dest: "/home/rafael2001/webapps/poemastatic/.htaccess"
  uploads:
    name: poemauploads
    path: "/home/rafael2001/webapps/poema/uploads"
    htaccess_src: "{{ playbook_dir }}/htaccess.template"
    htaccess_dest: "/home/rafael2001/webapps/poemauploads/.htaccess"

versioning:
  repo: "git@github.com:diogobaeder/poema.git"
  remote: origin
  branch: master

caching:
  process_name: memcached
  command: "memcached -d -m 50 -s /tmp/rafael2001/memcached.sock -P /tmp/rafael2001/memcached.pid"
  dir: /tmp/rafael2001
  pid_file: /tmp/rafael2001/memcached.pid

project:
  app:
    path: "/home/rafael2001/webapps/poema/poema"
    wsgi_app: poema.wsgi.application
    processes: 5
    debug: True
  server:
    src: "{{ playbook_dir }}/gunicorn.py.template"
    dest: "/home/rafael2001/webapps/poema/gunicorn.py"
    command: "cd /home/rafael2001/webapps/poema && ~/webapps/poema/.env/bin/gunicorn -c gunicorn.py poema.wsgi"
    reload: "kill -HUP `cat /tmp/rafael2001/poema.pid`"
    pid_file: /tmp/rafael2001/poema.pid
    log_file: /home/rafael2001/logs/user/poema-access.log
    error_file: /home/rafael2001/logs/user/poema-errors.log
  django_settings:
    module: "poema.prod_settings"
    src: "{{ playbook_dir }}/../poema/prod_settings.py"
    dest: "/home/rafael2001/webapps/poema/poema/prod_settings.py"
  virtualenv:
    command: "/home/rafael2001/bin/virtualenv"
    name: ".env"
    bin: "/home/rafael2001/webapps/poema/.env/bin"
    python: "/home/rafael2001/webapps/poema/.env/bin/python"
    pip: "/home/rafael2001/webapps/poema/.env/bin/pip"
    django_admin: "/home/rafael2001/webapps/poema/.env/bin/django-admin"
    requirements: "/home/rafael2001/webapps/poema/requirements.txt"

website:
  main:
    name: poema
    domain: poema.rafael2001.webfactional.com
    host: web501.webfaction.com
    app: poema
    url_path: /
  static:
    name: poemastatic
    domain: poemastatic.rafael2001.webfactional.com
    host: web501.webfaction.com
    app: poemastatic
    url_path: /
  uploads:
    name: poemauploads
    domain: poemauploads.rafael2001.webfactional.com
    host: web501.webfaction.com
    app: poemauploads
    url_path: /

webfaction_user: "{{ vault.webfaction.user }}"
webfaction_passwd: "{{ vault.webfaction.password }}"
