---

server:
  home: /home/rafael2001
  python_version: 3.6

ssh:
  files:
    public_key: ~/.ssh/poema.pub
    private_key: ~/.ssh/poema

domains:
  name: poema.info
  static: static
  uploads: uploads

applications:
  main:
    name: poema
    path: "/home/rafael2001/webapps/poema"
  static:
    name: static
    path: "/home/rafael2001/webapps/poema/static"
    htaccess_src: "{{ playbook_dir }}/htaccess.static.template"
    htaccess_dest: "/home/rafael2001/webapps/static/.htaccess"
  uploads:
    name: uploads
    path: "/home/rafael2001/webapps/poema/uploads"
    htaccess_src: "{{ playbook_dir }}/htaccess.uploads.template"
    htaccess_dest: "/home/rafael2001/webapps/uploads/.htaccess"
  redirect_to_secure:
    name: redirect_to_secure
    path: "/home/rafael2001/webapps/redirect_to_secure"
    htaccess_src: "{{ playbook_dir }}/htaccess.redirect_to_secure.template"
    htaccess_dest: "/home/rafael2001/webapps/redirect_to_secure/.htaccess"

versioning:
  repo: "git@github.com:diogobaeder/poema.git"
  remote: origin
  branch: master

caching:
  process_name: memcached
  command: "memcached -m 50 -s /home/rafael2001/processes/memcached.sock -P /home/rafael2001/processes/memcached.pid"
  dir: /home/rafael2001/processes
  pid_file: /home/rafael2001/processes/memcached.pid

project:
  name: poema
  app:
    path: "/home/rafael2001/webapps/poema/poema"
    processes: 3
  server:
    dir: "/home/rafael2001/webapps/poema"
    src: "{{ playbook_dir }}/gunicorn.py.template"
    dest: "/home/rafael2001/webapps/poema/gunicorn.py"
    command: "/home/rafael2001/webapps/poema/.env/bin/gunicorn -c gunicorn.py poema.wsgi"
    reload: "kill -HUP `cat /home/rafael2001/processes/poema.pid`"
    pid_file: /home/rafael2001/processes/poema.pid
    log_file: /home/rafael2001/logs/user/poema-access.log
    error_file: /home/rafael2001/logs/user/poema-errors.log
  django_settings:
    module: "poema.prod_settings"
    src: "{{ playbook_dir }}/../poema/prod_settings.py"
    dest: "/home/rafael2001/webapps/poema/poema/prod_settings.py"
  virtualenv:
    command: "/home/rafael2001/bin/virtualenv"
    name: ".env"
    bin: "/home/rafael2001/webapps/poema/.env/bin"
    python: "/home/rafael2001/webapps/poema/.env/bin/python"
    pip: "/home/rafael2001/webapps/poema/.env/bin/pip"
    django_admin: "/home/rafael2001/webapps/poema/.env/bin/django-admin"
    requirements: "/home/rafael2001/webapps/poema/requirements.txt"
  supervisor:
    tempdir: "/home/rafael2001/processes"
    logdir: "/home/rafael2001/logs/user"
    dir: "/home/rafael2001/webapps/poema"
    src: "{{ playbook_dir }}/supervisord.conf.template"
    dest: "/home/rafael2001/webapps/poema/supervisord.conf"
    daemon_command: "/home/rafael2001/bin/supervisord -c /home/rafael2001/webapps/poema/supervisord.conf"
    control_command: "/home/rafael2001/bin/supervisorctl -c /home/rafael2001/webapps/poema/supervisord.conf"

website:
  main:
    name: poema
    domain: poema.info
    host: web501.webfaction.com
    app: poema
    redirect_to_secure_app: redirect_to_secure
    url_path: /
    https: true  # For after the website is under HTTPS
#    https: false  # For before the website is under HTTPS
  static:
    name: static
    domain: static.poema.info
    host: web501.webfaction.com
    app: static
    redirect_to_secure_app: redirect_to_secure
    url_path: /
    https: true  # For after the website is under HTTPS
#    https: false  # For before the website is under HTTPS
  uploads:
    name: uploads
    domain: uploads.poema.info
    host: web501.webfaction.com
    app: uploads
    redirect_to_secure_app: redirect_to_secure
    url_path: /
    https: true  # For after the website is under HTTPS
#    https: false  # For before the website is under HTTPS

webfaction_user: "{{ vault.webfaction.user }}"
webfaction_passwd: "{{ vault.webfaction.password }}"
